---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/common/HeroSection.astro";
import { FeatureGrid } from "../components/common/FeatureGrid";
import Footer from "../components/common/Footer.astro";

export const prerender = false;
---

<Layout title="Trip Planner - AI-Powered Travel Planning">
  <div class="min-h-screen flex flex-col">
    <HeroSection />
    <FeatureGrid client:load />
    <Footer />
  </div>
</Layout>
